<!--    ngModel -->
<!-- <button (click)='isHidden=!isHidden;buttonText="Hide Books"?"Show Books":"Hide Books"'>{{buttonText}}</button> -->
<button (click)='isHidden=!isHidden'>
    <ng-container *ngIf="!isHidden">Hide Books</ng-container>
    <ng-container *ngIf="isHidden">Show Books</ng-container>
</button>

<ul *ngIf='!isHidden'>
    <ng-container *ngFor="let book of books">
        <li>
            <p>{{book.name}} by {{book.author}}</p>
            <img src={{book.img}} width="100px" alt="">
        </li>
    </ng-container>

</ul>